<!-- tickets/success.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header :: header('Кинотеатр')}"><title>Билет куплен</title></head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="mt-5">Вы успешно приобрели билет!</h3>
            <p>Место: <strong th:text="${placeNumber}"></strong>, Ряд: <strong th:text="${rowNumber}"></strong></p>
            <p>Сеанс: <strong th:text="${#temporals.format(filmSession.startTime, 'dd.MM.yyyy HH:mm')}"></strong></p>
            <p>Фильм: <strong th:text="${film.name}"></strong></p>
            <a class="btn btn-primary mt-3" th:href="@{/sessions}">Вернуться к расписанию</a>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>