<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header :: header('Ошибка')}">
    <title>Ошибка</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div class="container">
    <h3 class="mt-3">Произошла ошибка</h3>
    <p class="text-danger" th:text="${message}"></p>

    <!-- Упрощенная отладочная информация -->
    <div class="alert alert-info mt-3" th:if="${debugUser != null}">
        <strong>DEBUG:</strong>
        Текущий пользователь: <span th:text="${debugUser}"></span>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>